@model IEnumerable<SampleApplication.Models.Restaraunt>

<html>
    <body>
        <h1>Name of restaurnars</h1>
        <table>
            @foreach (var restauanr in Model)
            {
                    <tr>@restauanr.Name</tr>
            }
            
        </table>
        This is the index view
    </body>
</html>