@model SampleApplication.ViewModels.HomeIndexViewModel

<html>
    <body>
		<h1>@Model.Message </h1>
        <h1>Name of restaraunts</h1>

        <table>
            @foreach (var restaurant in Model.Restaraunts)
            {
                <tr>
                        <td>@restaurant.Name </td>
                    <td>@restaurant.Id</td>
                    <td><a href = "/home/details/@restaurant.Id">Details</a></td>
                    <td><a asp-action = "Details" asp-route-id = "@restaurant.Id">More details</a></td>
                    <td><a asp-action="Create" >Create</a></td>
                </tr>
            }
            
        </table>
        This is the index view
    </body>
</html>